<% if user_signed_in? %>
<!-- 	Can put something here <h1> You're Logged In </h1> -->
<% else %>
	<div class="center hero-unit">
	    <h1>Welcome!</h1>

	    <p> You've found the home parge for the <%= link_to "P-Variable", "http://github.com/carloskcheung" %> application </p>

	    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
	</div>
<% end %>