<div class="center hero-unit">
    <h1>Welcome!</h1>

    <p> You've found the home parge for the <%= link_to "P-Variable", "http://github.com/carloskcheung" %> application </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>